@use '../scss/variables' as *;

.modal {
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: hsla(0, 0%, 0%, 0.85);
	backdrop-filter: blur(5px);
	z-index: 9999;

	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__content,
	&__actions {
		width: 90%;
		max-width: 112.5vh;
	}

	&__actions,
	&__arrows {
		display: flex;
	}

	&--film .modal__actions {
		justify-content: end;
	}

	&--gallery .modal__actions {
		justify-content: space-between;
	}

	&__actions {
		align-items: center;
		margin-bottom: 1.875rem;

		.slider__prev,
		.slider__next {
			display: grid;
			place-content: center;
			width: 25vw;
			height: 18.13vw;
			max-width: 80px;
			max-height: 60px;
			border-radius: $br-15;

			img {
				width: 1.818rem;
				scale: 0.86;
			}
		}

		.slider__prev {
			background-color: $c-white;
			img {
				rotate: 180deg;
			}
		}

		.slider__next {
			right: 100px;
			background-color: $c-yellow;
		}

		.btn-close {
			background: none;
			color: $c-white;

			svg {
				width: 10vw;
				max-width: 40px;
			}
		}
	}

	&__content {
		iframe,
		img {
			width: 100%;
			height: 100%;
			border-radius: $br-10;
			aspect-ratio: 1.4;
			object-fit: cover;
		}
	}

	.modal-film {
		&__actions {
			justify-content: end;
		}
	}
}

//768px
@media (width >= 48rem) {
	.modal {
		&__content,
		&__actions {
			width: 86%;
		}
	}
}

//1064px
@media (width >= 64rem) {
	.modal {
		&__actions {
			.slider__prev img,
			.slider__next img {
				transition: scale 0.3s;
			}

			.slider__prev:hover img,
			.slider__next:hover img {
				scale: 1;
			}

			.btn-close {
				svg {
					transition: scale 0.3s;
				}
				&:hover svg {
					scale: 1.1;
				}
			}
		}

		&__content img,
		iframe {
			aspect-ratio: 1.7;
		}
	}
}

//1200px
@media (width >= 75rem) {
	.modal__actions {
		.slider__prev,
		.slider__next {
			max-width: 90px;
			max-height: 65px;
		}
	}
}

//1536px
@media (width >= 96rem) {
	.modal__actions {
		.slider__prev,
		.slider__next {
			max-width: 100px;
			max-height: 70px;
		}
	}
}
